---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/Aaron.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
            Who Inspires Us
          </h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Aaron Network is inspired by the life and achievements of Aaron Swartz — a programmer, activist, and advocate for freedom of information. His work laid the foundation for modern free and decentralized technologies that are changing the world.<br><br>

              Aaron Swartz (1986–2013) was one of the most influential figures in the tech sphere and a staunch advocate for internet freedom. He began his career at an early age and made significant contributions to the development of the internet:<br>

              <ul>
                <li><b>RSS Development:</b> Aaron co-developed RSS, a standard still used today for automatic content and news updates.</li>
                <li><b>Co-founder of Reddit:</b> He was one of the co-founders of Reddit, one of the most popular social platforms for online discussions.</li>
                <li><b>Internet Freedom Activism:</b> Aaron played a crucial role in the fight against the SOPA and PIPA bills, which could have restricted internet freedom. His activism helped save the internet from censorship.</li>
                <li><b>JSTOR Incident:</b> Aaron downloaded millions of academic articles from JSTOR, aiming to make scientific knowledge freely accessible to everyone. This led to his arrest and a long legal battle, which tragically ended in his death.</li>
              </ul>

              <br>
              Sadly, his life was cut short in 2013, but his ideas and vision for a free and open internet continue to inspire many.
            </p>
          </div>
        </div>

    </div>
  </div>
</section>
