---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Airdrop Rules · Aaron Network"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Airdrop Rules</h1>
    </div>
    <div>
      <p class="mb-4">
        Aaron Network is committed to building a decentralized platform for secure messaging and blockchain transparency. As one of the first steps towards achieving this goal, we conducted an airdrop for the Cosmos (ATOM) community. We are pleased to announce that a portion of Aaron Network tokens has been successfully distributed to participants within the Cosmos ecosystem as part of this airdrop.<br><br>

        This airdrop is our way of expressing gratitude to the community for supporting decentralized technologies and blockchain. We believe that the participants who received tokens will help us build a more open and secure ecosystem, in line with the values of the project, inspired by Aaron Swartz.<br><br>

        Below, you will find the detailed rules regarding the airdrop and the further use of the distributed tokens.
      </p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Qualify</h2>
      <p class="mb-6">Conditions for receiving airdrop:</p>
      <ul class="list-inside list-disc space-y-4">When you interact with us, we may collect personal information such as your name, email address, or other details necessary for account creation or service requests.
        <li><strong>Stake</strong>: ATOM</li>
        <li><strong>Min</strong>: 0.1</li>
        <li><strong>Max</strong>: 99999.999999</li>
        <li><strong>Snapshot Date</strong>: 17.06.2024</li>
        <li><strong>Start date of confirmation</strong>: June 18, 2024</li>
        <li><strong>End date of confirmation</strong>: August 4, 2024</li>
      </ul>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Result</h2>
      <p class="mb-4">Results of the airdrop:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>Total eligible addresses: 784023</li>
        <li>Total confirmed addresses: 219396</li>
        <li>Sum confirmed: 247742269.96732903 AARON</li>
      </ul>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">3. For researchers and analysts</h2>
      <p class="mb-4">We have published the results of the airdrop in open access. Anyone can study the results in our GitHub:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          <a
            href="https://github.com/aaronetwork/airdrop-data"
            class="focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200 inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2"
            target="_blank"
            rel="noopener"
          >
            https://github.com/aaronetwork/airdrop-data
            <svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
            >
              <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </div>
</Layout>
