---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Terms of Service · Aaron Network"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Terms of Service</h1>
      <p class="text-base">Last update: October 13, 2024</p>
    </div>
    <div>
      <p class="mb-4">
        Welcome to Aaron Network! By accessing or using our website (https://aaronetwork.xyz) and services, you agree to comply with and be bound by the following Terms of Service. Please read them carefully before using our platform.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Acceptance of Terms</h2>
      <p class="mb-6">By accessing or using Aaron Network, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service. If you do not agree to these terms, you should not use the website or any of its services.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Description of Service</h2>
      <p class="mb-4">Aaron Network provides a decentralized communication platform where users can send and receive secure public and private messages, as well as evaluate the reputation of other network participants. We offer tools such as the Network Explorer, Network Dashboard, and Address Reputation Scoring.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">3. User Accounts</h2>
      <p class="mb-4">To use certain features of the platform, you may be required to create an account. You agree to provide accurate, complete, and up-to-date information when creating your account. You are responsible for maintaining the confidentiality of your account and password.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">4. User Conduct</h2>
      <p class="mb-4">By using Aaron Network, you agree not to:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>Engage in any unlawful, harmful, or fraudulent activities.</li>
        <li>Interfere with or disrupt the operation of the website or its services.</li>
        <li>Attempt to gain unauthorized access to other users' accounts or our systems.</li>
      </ul>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">5. Privacy</h2>
      <p class="mb-4">Your use of Aaron Network is subject to our <a href="/privacy">Privacy Policy</a> which explains how we collect and handle your personal data.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">6. Intellectual Property</h2>
      <p class="mb-4">All content, trademarks, logos, and materials available on the Aaron Network platform, including but not limited to text, graphics, code, and software, are the property of Aaron Network or its licensors. You agree not to reproduce, distribute, or use any of the materials for commercial purposes without written permission.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">7. Termination</h2>
      <p class="mb-4">We reserve the right to terminate or suspend your account or access to our platform at any time, with or without notice, for conduct that we deem harmful, inappropriate, or in violation of these terms.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">8. Limitation of Liability</h2>
      <p class="mb-4">Aaron Network and its team will not be liable for any indirect, incidental, special, or consequential damages resulting from your use of or inability to use the platform, including but not limited to loss of data, breach of security, or any unauthorized access to your account.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">9. Changes to the Terms</h2>
      <p class="mb-4">We may update or modify these Terms of Service at any time. When we make changes, we will notify you by posting the updated terms on the website. Your continued use of the platform constitutes acceptance of the updated terms.</p>

    </div>
  </div>
</Layout>
