---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Tokenomics · Aaron Network"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Tokenomics</h1>
    </div>
    <div>
      <p class="mb-4">
        At Aaron Network, we believe in the importance of transparency and fairness in token distribution. Below, you'll find the breakdown of our AARON token supply and how it is allocated to support the growth and sustainability of the network.
      </p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Total Supply</h2>
      <p class="mb-6">The total supply of AARON tokens is capped at <strong>300,000,000 AARON</strong></p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Token Distribution</h2>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2.1 Community Airdrop: 247,743,588 AARON</h2>
      <p class="mb-6">The largest portion of the total supply is allocated to the community through an airdrop. This is designed to reward early adopters and foster network growth by ensuring broad distribution among the community.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2.2 Additional Airdrop Distribution: 21,941,000 AARON</h2>
      <p class="mb-6">In addition to the main community airdrop, a further distribution will be made to increase participation and ensure that more members of the community benefit from the token launch.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2.3 Command: 45,000 AARON</h2>
      <p class="mb-6">A small allocation is reserved for the core team, ensuring operational efficiency and network management.</p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2.4 Reserve: 30,000,000 AARON</h2>
      <p class="mb-6">These tokens are reserved for strategic purposes such as community pools, marketing efforts, and other initiatives to support the long-term growth of Aaron Network. The reserve ensures we have the resources to adapt and grow in an ever-evolving ecosystem.</p>

    </div>
  </div>
</Layout>
